<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if !content.empty? %>
    <% content.each do |k,v| %>

    <h2><%=k.to_s %></h2>
    <p>
    <% v.each do |l| %>

      <%=l %>
      <br>
    <% end %>
      </p>
    <% end %>
    <% else %>
    <h2>Volume 里没有文件或者没有挂载 Volume</h2>
    <% end %>
  </body>
</html>
