<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= title %></h2>

    <% content.each do |l| %>
    <p>
      <%=l %>
    </p>
    <% end %>
  </body>
</html>
